.my-form-container {
  width: 100%;
  height: 100%;
}

.my-form-style {
  width: 80%;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px 20px;
  background-color: #fffffe;
  color: black;
  border-radius: 4px;
}

.my-form-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.my-label-style {
  font-weight: 500;
  color: #000;
}

@media only screen and (max-width: 480px) {
  .my-form-style {
    width: 90%;
    padding: 16px;
    background-color: transparent;
    color: #007bff;
  }

  .my-form-heading {
    color: #007bff;
    text-align: center;
  }

  .my-link {
    color: #00b5b5;
  }
  .my-label-style {
    color: #007bff;
  }
}
