.todo-list-container {
  margin-top: 20px;
}

.buttons-style {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.row-style {
  padding: 12px 0;
}

.empty-container {
  color: darkgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-style: dashed;
}

@media only screen and (max-width: 576px) {
  .buttons-style {
    margin-top: 10px;
  }
}